:root {
  --card-size: 80px;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
  font-display: swap; /* or optional, block, fallback */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "Playfair Display";
  font-size: clamp(3rem, 5vw + 2rem, 6rem);
  line-height: 1.1;
  position: relative;
}
.read-the-docs {
  color: #888;
}

@media (min-width: 769px) {
  #flash-card-app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #flash-card-app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 481px) {
  :root {
    --card-size: 60px;
  }
  #flash-card-app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
