.flash-back {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-front {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
  & > span {
    font-size: 20px;
    text-align: center;
  }
}

.deck-base {
  width: calc(var(--card-size) * 5);
}

.card-parent {
  width: calc(var(--card-size) * 5);
}

.card-dragging {
  opacity: 1;
}
