:root {
  --card-flip-speed: 0.3s;
  --card-size: 55px;
}

.back-center {
  background-image: none;
}

.deck-base {
  color: black;
  position: relative;
  width: calc(var(--card-size) * 2.5);
  height: calc(var(--card-size) * 3.5);
  border-radius: calc(0.15 * var(--card-size));
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-evenly;
}
